<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>采购退货订单-新增</title>
	<link rel="stylesheet" href="~/component/pear/css/pear.css" />
</head>
<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" id="Form">
                <div class="layui-card">
                    <input type="hidden" id="PurchaseOderId" name="PurchaseOderId" value="0" />
                    <input type="hidden" id="purchaseReturnOderId" name="purchaseReturnOderId" value="0" />  
                    <div class="layui-form-item">
                        <div class="layui-form-item layui-inline">
                            <label class="layui-form-label">采购订单</label>
                            <div class="layui-input-inline" style="width: 290px;">
                                <input type="text" id="oderNo" name="oderNo" value="" readonly="readonly" placeholder="" class="layui-input" lay-verify="">
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline">
                            <label class="layui-form-label">供应商</label>
                            <div class="layui-input-inline" style="width: 290px;">
                                <input type="text" id="supplierName" name="supplierName" value="" readonly="readonly" placeholder="" class="layui-input" lay-verify="">
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-inline" style="width: 290px;">
                                <input type="text" id="remark" name="remark" value="" placeholder="" class="layui-input">
                            </div>
                        </div>	
                        <div id="purchasereturnoderselect" class="layui-form-item layui-inline" style="margin-left: 60px;">
                            <button id="selectOderNoBtn" class="pear-btn pear-btn-md pear-btn-primary" type="button" lay-submit lay-filter="purchasereturnoder-select">
                                <i class="layui-icon layui-icon-ok"></i>
                                选择采购订单
                            </button>
                        </div>	
                        <div id="purchasereturnoderaudit" class="layui-form-item layui-inline" style="margin-left: 60px; display:none">
                            <button id="updateOderNoBtn" class="pear-btn pear-btn-md pear-btn-primary" type="button" lay-submit lay-filter="purchasereturnoder-update">
                                <i class="layui-icon layui-icon-ok"></i>
                                审核订单
                            </button>
                        </div>		
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-body">
            <table id="purchasereturnoderitems-table" lay-filter="purchasereturnoderitems-table"></table>
        </div>
    </div>

    <script type="text/html" id="purchasereturnoderitems-toolbar">
        <button class="pear-btn pear-btn-primary pear-btn-md" type="button" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>            
            新增商品
        </button>
        <button class="pear-btn pear-btn-danger pear-btn-md" type="button" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除商品
        </button>
    </script>

    <script type="text/html" id="purchasereturnoderitems-bar">
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
    </script>

    <script type="text/html" id="purchasereturnoderitems-createTime">
        {{layui.util.toDateString(d.createdTime, 'yyyy-MM-dd')}}
    </script>
    <script type="text/html" id="purchasereturnoderitems-auditTime">
        {{layui.util.toDateString(d.auditTime, 'yyyy-MM-dd')}}
    </script>

    <script src="~/component/layui/layui.js"></script>
    <script src="~/component/pear/pear.js"></script>

    <script>
        layui.use(['table', 'form', 'jquery', 'common'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;

            let cols = [
                [{
                    type: 'checkbox'
                },
                {
                    title: 'ID',
                    field: 'id',
                    align: 'center',
                    width: 100,
                    hide: true
                },
                {
                    title: '货号',
                    field: 'itemCode',
                    align: 'center',
                    totalRowText: '合计'
                },
                {
                    title: '品名',
                    field: 'itemName',
                    align: 'center'
                },
                {
                    title: '单位',
                    field: 'unitName',
                    align: 'center'
                },
                {
                    title: '进货价',
                    field: 'purchasePrice',
                    align: 'center'
                },
                {
                    title: '实际进货价',
                    field: 'realPurchasePrice',
                    align: 'center'
                },
                {
                    title: '数量',
                    field: 'number',
                    align: 'center'
                },
                {
                    title: '赠送数量',
                    field: 'giveNumber',
                    align: 'center'
                },
                {
                    title: '小计',
                    field: 'amount',
                    align: 'center',
                    totalRow: true
                },
                {
                    title: '备注',
                    field: 'remark',
                    align: 'center'
                },
                {
                    title: '操作',
                    toolbar: '#purchasereturnoderitems-bar',
                    align: 'center',
                    width: 130
                }
                ]
            ]

            table.render({
                elem: '#purchasereturnoderitems-table',
                url: '/PurchaseReturnOderItem/GetPageByShopIdPurchaseReturnOderId?purchaseReturnOderId=' + $('#purchaseReturnOderId').val(), 
                page: true,//开启分页
                totalRow: true,//开启合并行
                cols: cols,
                skin: 'line',
                toolbar: '#purchaseretrunoderitems-toolbar',
                defaultToolbar: [{
                    title: '刷新',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, 'filter', 'print', 'exports']
            });

            table.on('tool(purchasereturnoderitems-table)', function (obj) {
                if (obj.event === 'remove') {
                    window.remove(obj);
                } else if (obj.event === 'edit') {
                    window.edit(obj);
                }
            });

            table.on('toolbar(purchasereturnoderitems-table)', function (obj) {
                if (obj.event === 'add') {
                    window.add();
                } else if (obj.event === 'refresh') {
                    window.refresh();
                } else if (obj.event === 'batchRemove') {
                    window.batchRemove(obj);
                }
            });

            window.add = function () {
                if($('#purchaseReturnOderId').val() == "" || $('#purchaseReturnOderId').val() == "0")
                {
                    layer.msg("请先选择单号再新增商品", {icon: 1, time: 1000 });
                    return;
                };
                if(window.onlySupportAllReturn() === true)
                {
                    return;
                }
                let index = layer.open({
                    type: 2,
                    title: '新增商品',
                    shade: 0.1,
                    area: ['1280px', '768px'],
                    content: '/purchasereturnoderitem/add',
                    success: function(layero, index) {
                        var body = layer.getChildFrame('body', index); //获取子页面的dom对象
                        body.find("#submit").focus();  
                        var iframe = window['layui-layer-iframe' + index];
                        var data = {
                            ShopId: $('#ShopId').val(),
                            PurchaseOderId: $('#Id').val(),
                        };
                        iframe.GetParentIframeData(data)
                    },
                    cancel: function(){
                        window.refresh();
                    },
                    end: function(){ 
                        window.refresh();
                        window.updateOderAmount();
                    }
                });
                layer.full(index);
            };

            window.edit = function (obj) {
                if(window.onlySupportAllReturn() === true)
                {
                    return;
                }
                let index = layer.open({
                    type: 2,
                    title: '修改订单商品',
                    shade: 0.1,
                    area: [common.isModile() ? '100%' : '1280px', common.isModile() ? '100%' : '760px'],
                    content: '/purchasereturnoderitem/update?id=' + obj.data['id'],
                    success : function () {       
                        var body = layer.getChildFrame('body', index);
                        body.find("#submit").focus();                                                       
                    },
                    cancel: function(){
                        window.refresh();
                    },
                    end: function(){ 
                        window.refresh();
                        window.updateOderAmount();
                    }
                    
                });
                layer.full(index);
            };

            window.remove = function (obj) {
                if(window.onlySupportAllReturn() === true)
                {
                    return;
                }
                layer.confirm('确定要删除该订单商品', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: "/purchasereturnoderitem/delete?id=" + obj.data['id'],
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.success) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    table.reload('purchasereturnoderitems-table');
                                    window.updateOderAmount();
                                });
                            } else {
                                let index = layer.open({
                                    type: 2,
                                    title: '',
                                    shade: 0.1,
                                    area: ['1280px', '760px'],
                                    content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                                });
                                layer.full(index);
                            }
                        }
                    })
                });
            }; 

            window.batchRemove = function (obj) {
                if(window.onlySupportAllReturn() === true)
                {
                    return;
                }

                var checkIds = common.checkField(obj, 'id');

                if (checkIds === "") {
                    layer.msg("未选中数据", {
                        icon: 3,
                        time: 1000
                    });
                    return false;
                }

                layer.confirm('确定要删除这些采购订单商品', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: "/purchasereturnoderitem/batchDelete?ids=" + checkIds,
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.success) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                        table.reload('purchasereturnoderitems-table');
                                        window.updateOderAmount();
                                });
                            } else {
                                let index = layer.open({
                                    type: 2,
                                    title: '',
                                    shade: 0.1,
                                    area: ['1280px', '760px'],
                                    content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                                });
                                layer.full(index);
                            }
                        }
                    })
                });
            }; 

            window.refresh = function (param) {
                table.reload('purchasereturnoderitems-table',{
                    url: '/PurchaseReturnOderItem/GetPageByShopIdPurchaseReturnOderId?purchaseReturnOderId=' + $('#purchaseReturnOderId').val(), 
                });
            };

            window.updateOderAmount = function () {
                $.ajax({
                    url: "/purchasereturnoderitem/GetSumAmountByPurchaseReturnOderId?purchaseReturnOderId=" + $('#purchaseReturnOderId').val(),
                    dataType: 'json',
                    type: 'get',
                    success: function (result) {
                        if (result.success) {
                            window.updateOderAmount1($('#purchaseReturnOderId').val(), result.data);
                        } else {
                            let index = layer.open({
                                type: 2,
                                title: '',
                                shade: 0.1,
                                area: ['1280px', '760px'],
                                content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                            });
                            layer.full(index);
                        }
                    }
                })
            }

            window.updateOderAmount1 = function (id, oderAmount) {
                $.ajax({
                    url: "/purchasereturnoder/UpdateReturnOderAmount",
                    dataType: 'json',
                    type: 'post',
                    data:{
                        'id':id,
                        'oderAmount':oderAmount
                    },
                    success: function (result) {
                        if (result.success) {                            
                        } else {
                        let index = layer.open({
                            type: 2,
                            title: '',
                            shade: 0.1,
                            area: ['1280px', '760px'],
                            content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                        });
                        layer.full(index);
                        }
                    }
                })
            }

            // 获取选择订单信息
            window.GetSelectAuditedUnReturnPurchaseOderData = function (data) { 
                $('#oderNo').val(data.oderNo);
                $('#supplierName').val(data.supplierName);

                var oderNo = '@ViewData["OderNo"]';
                var operatorName = '@ViewData["OperatorName"]';
                $('#PurchaseOderId').val(data.id);  
                var data = {
                    'PurchaseOderId':data.id,
                    'ShopId':data.shopId,
                    'OderNo':oderNo,
                    'PurchaseOderNo':data.oderNo,
                    'OderAmount': data.oderAmount,
                    'SupplierId': data.supplierId,
                    'OperatorName':operatorName
                };
                window.CreatePurchaseReturnOder(data);              
            };

            form.on('submit(purchasereturnoder-select)', function(){
                let index = layer.open({
                    type: 2,
                    title: '选择采购订单',
                    shade: 0.1,
                    area: ['1280px', '768px'],
                    content: '/purchaseoder/SelectAuditedUnReturnedPurchaseOder',
                    success : function () {         
                    },
                    cancel: function(){
                    }
                });
                layer.full(index)
            });

            form.on('submit(purchasereturnoder-update)', function(data){
                $.ajax({
                        url:'@Url.Action("Update","PurchaseReturnOder")', 
                        type:"post",
                        dataType:"json",
                        data: {
                            'Id':$('#purchaseReturnOderId').val(),
                            'Remark':$('#remark').val(),                     
                        },
                        success: function (result) {
                            if(result.success)
                            {
                                window.updatePurchaseOderStatus($('#PurchaseOderId').val(), 3);//采购退货审核后修改采购订单状态为已退货
                                window.subStockNumber($('#purchaseReturnOderId').val());//更新库存
                                layer.msg(result.msg, { icon: 1, time: 1000 });
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            }else {
                                let index = layer.open({
                                    type: 2,
                                    title: '',
                                    shade: 0.1,
                                    area: ['1280px', '760px'],
                                    content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                                });
                                layer.full(index);
                            }
                        }
                    });
            });

            window.CreatePurchaseReturnOder = function (model) {
                $.ajax({
                    url: "/PurchaseReturnOder/Add",
                    dataType: 'json',
                    type: 'post',
                    data: model,
                    success: function (result) {
                        if (result.success) {   
                            $('#purchaseReturnOderId').val(result.data.id);  
                            window.refresh();      
                            $('#purchasereturnoderselect').css("display", "none"); 
                            $('#purchasereturnoderaudit').css("display", "inline-block");     
                        } else {
                        let index = layer.open({
                            type: 2,
                            title: '',
                            shade: 0.1,
                            area: ['1280px', '760px'],
                            content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                        });
                        layer.full(index);
                        }
                    }
                })
            }

            window.onlySupportAllReturn = function() {
                layer.msg("目前只支持整单退货", {icon: 1, time: 1000 });
                return true;
            }

            window.updatePurchaseOderStatus = function (id, state) {
                $.ajax({
                    url: "/purchaseoder/updatePurchaseOderStatus",
                    dataType: 'json',
                    type: 'post',
                    data:{
                        'id':id,
                        'state':state
                    },
                    success: function (result) {
                        if (result.success) {                            
                        } else {
                        let index = layer.open({
                            type: 2,
                            title: '',
                            shade: 0.1,
                            area: ['1280px', '760px'],
                            content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                        });
                        layer.full(index);
                        }
                    }
                })
            }

            window.subStockNumber = function (id) {
                $.ajax({
                    url: "/PurchaseReturnOder/SubStockNumber",
                    dataType: 'json',
                    type: 'post',
                    data:{
                        'id':id,
                    },
                    success: function (result) {
                        if (result.success) {                            
                        } else {
                        let index = layer.open({
                            type: 2,
                            title: '',
                            shade: 0.1,
                            area: ['1280px', '760px'],
                            content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                        });
                        layer.full(index);
                        }
                    }
                })
            }   

        });
            
    </script>

</body>
</html>
