<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>控制后台</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
		<link rel="stylesheet" href="../../admin/css/other/console1.css" />
	</head>
	<body class="pear-container">
		<div>
			<div class="layui-row layui-col-space10">
				<div class="layui-col-xs6 layui-col-md3">
					<div class="layui-card top-panel">
						<div class="layui-card-header">营业实收</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space5">
								<div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;" id="value1">
									0
								</div>
								<div class="layui-col-xs4 layui-col-md4 top-panel-tips">
									<svg t="1656341873352" class="icon" viewBox="0 0 1109 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="32983" xmlns:xlink="http://www.w3.org/1999/xlink" width="216.6015625" height="200">
									<path fill="#fcc66f" d="M766.378667 107.064889C725.418667 42.951111 652.174222 0 568.547556 0c-80.469333 0-151.495111 39.708444-193.223112 99.84C162.190222 137.386667 0 317.411556 0 533.674667v48.924444C0 825.969778 205.283556 1024 457.614222 1024h194.076445C904.049778 1024 1109.333333 825.969778 1109.333333 582.542222v-48.896c0-205.141333-146.062222-377.344-342.954666-426.581333zM568.547556 62.293333c92.586667 0 167.907556 72.647111 167.907555 161.934223 0 16.497778-2.673778 32.369778-7.480889 47.331555H408.149333a155.505778 155.505778 0 0 1-7.480889-47.331555c0-89.315556 75.320889-161.934222 167.879112-161.934223zM1044.764444 582.542222c0 209.095111-176.327111 379.221333-393.073777 379.221334h-194.076445c-216.746667 0-393.073778-170.097778-393.073778-379.192889v-48.924445c0-170.638222 117.475556-315.164444 278.471112-362.581333a215.324444 215.324444 0 0 0-6.883556 53.191111c0 16.213333 1.934222 32.028444 5.347556 47.303111h-32.625778c-16.981333 0-30.72 13.283556-30.72 29.639111 0 16.384 13.738667 29.667556 30.72 29.667556h512.113778c17.009778 0 30.72-13.283556 30.72-29.667556 0-16.355556-13.710222-29.639111-30.72-29.639111h-25.258667a216.462222 216.462222 0 0 0 5.319111-47.331555c0-14.506667-1.564444-28.728889-4.323556-42.496 145.095111 55.808 248.064 192.284444 248.064 351.914666v48.924445z m-367.217777 25.002667c17.009778 0 30.72-13.312 30.72-29.667556 0-16.384-13.710222-29.639111-30.72-29.639111h-64.853334l61.610667-59.448889a28.899556 28.899556 0 0 0 0-41.898666 31.488 31.488 0 0 0-43.463111 0l-76.202667 73.500444-76.145778-73.500444a31.488 31.488 0 0 0-43.463111 0 28.899556 28.899556 0 0 0 0 41.898666l61.610667 59.448889h-64.881778c-16.981333 0-30.72 13.255111-30.72 29.639111 0 16.355556 13.738667 29.667556 30.72 29.667556h92.16v59.249778h-92.16c-16.981333 0-30.72 13.255111-30.72 29.639111 0 16.384 13.738667 29.667556 30.72 29.667555h92.16v79.018667c0 16.384 13.767111 29.667556 30.72 29.667556 16.981333 0 30.72-13.283556 30.72-29.667556v-79.018667h92.188445c17.009778 0 30.72-13.283556 30.72-29.667555 0-16.384-13.710222-29.639111-30.72-29.639111h-92.16v-59.249778h92.16z" p-id="32984"></path>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-xs6 layui-col-md3">
					<div class="layui-card top-panel">
						<div class="layui-card-header">交易次数</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space5">
								<div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;" id="value2">
									0
								</div>
								<div class="layui-col-xs4 layui-col-md4 top-panel-tips">
									<svg t="1656342067539" class="icon" viewBox="0 0 1075 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="33131" xmlns:xlink="http://www.w3.org/1999/xlink" width="209.9609375" height="200">
									<path fill="#fcc66f" d="M1025.024 422.2976a28.2112 28.2112 0 0 0-38.4 0l-411.5456 392.96-144.7424-138.1376a28.2112 28.2112 0 0 0-38.4 0 25.2416 25.2416 0 0 0 0 36.7104L556.032 870.4a28.2112 28.2112 0 0 0 40.96-2.8672l428.1344-408.7296a24.9344 24.9344 0 0 0-0.1536-36.5056zM819.2 803.328v97.536c0 39.424-34.048 71.8848-76.4928 71.8848H127.6928C85.2992 972.8 51.2 940.3904 51.2 901.5808V122.368C51.2 83.456 85.1968 51.2 127.6928 51.2h615.0144C785.2032 51.2 819.2 83.8144 819.2 123.3408V404.992a25.6 25.6 0 1 0 51.2 0V123.392C870.4 54.9888 812.9536 0 742.7072 0H127.6928C57.5488 0 0 54.528 0 122.4192V901.632C0 969.216 57.6 1024 127.6928 1024h615.0144C812.9024 1024 870.4 969.1136 870.4 900.9152V803.328a25.6 25.6 0 0 0-51.2 0zM206.0288 270.08H634.88a25.6 25.6 0 0 0 0-51.2H206.0288a25.6 25.6 0 0 0 0 51.2z m0 145.92H634.88a25.6 25.6 0 0 0 0-51.2H206.0288a25.6 25.6 0 0 0 0 51.2z m0 145.92h321.6384a25.6 25.6 0 0 0 0-51.2H206.0288a25.6 25.6 0 0 0 0 51.2z" p-id="33132"></path>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-xs6 layui-col-md3">
					<div class="layui-card top-panel">
						<div class="layui-card-header">会员充值</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space5">
								<div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;" id="value3">
									0
								</div>
								<div class="layui-col-xs4 layui-col-md4  top-panel-tips">
									<svg t="1656341422585" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="32430" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
									<path fill="#fcc66f" d="M512 800c-6.4 0-19.2-6.4-25.6-12.8L249.6 499.2C236.8 492.8 236.8 473.6 243.2 467.2l70.4-134.4C320 320 326.4 313.6 339.2 313.6l345.6 0c12.8 0 25.6 6.4 25.6 19.2l70.4 134.4c6.4 12.8 6.4 25.6-6.4 32l-243.2 288C531.2 793.6 518.4 800 512 800zM307.2 473.6 512 716.8l204.8-243.2-51.2-96L358.4 377.6 307.2 473.6z" p-id="32431"></path>
									<path fill="#fcc66f" d="M512 1024c-281.6 0-512-230.4-512-512s230.4-512 512-512 512 230.4 512 512c0 19.2-12.8 32-32 32S960 531.2 960 512c0-249.6-198.4-448-448-448S64 262.4 64 512s198.4 448 448 448c19.2 0 32 12.8 32 32S531.2 1024 512 1024z" p-id="32432"></path>
									<path fill="#fcc66f" d="M992 864l-320 0c-19.2 0-32-12.8-32-32s12.8-32 32-32l320 0c19.2 0 32 12.8 32 32S1011.2 864 992 864z" p-id="32433"></path>
									<path fill="#fcc66f" d="M832 1024c-19.2 0-32-12.8-32-32l0-320c0-19.2 12.8-32 32-32s32 12.8 32 32l0 320C864 1011.2 851.2 1024 832 1024z" p-id="32434"></path>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-xs6 layui-col-md3">
					<div class="layui-card top-panel">
						<div class="layui-card-header">会员注册</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space5">
								<div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;" id="value4">
									0
								</div>
								<div class="layui-col-xs4 layui-col-md4 top-panel-tips">
									<svg t="1656342118037" class="icon" viewBox="0 0 1109 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="33279" xmlns:xlink="http://www.w3.org/1999/xlink" width="216.6015625" height="200">
									<path fill="#fcc66f" d="M1028.4302876 848.07974638a31.79867519 31.79867519 0 0 1-21.56160146 8.96212706h-81.10912062v75.7093456c-0.03749854 16.0868294-14.06191377 29.2112833-31.27369745 29.24878096h-0.03749854c-17.21178281-0.03749854-31.23619893-13.16195156-31.23619805-29.24878096v-75.7093456h-80.88413026a32.43614854 32.43614854 0 0 1-22.12407774-8.54964404 28.38631729 28.38631729 0 0 1-9.14961885-20.69913779c0-16.12432792 14.02441523-29.24878096 31.23619805-29.24878096h80.9216288v-75.70934561c0-16.12432792 14.02441523-29.24878096 31.23619805-29.24878184 17.24928135 0 31.31119512 13.12445303 31.31119599 29.24878184v75.70934561h80.62164054c16.98679248 0.48748008 30.44873144 13.08695449 30.78621738 28.64880615a27.93633574 27.93633574 0 0 1-8.73713584 20.88662958z m-211.94116963-218.6158913a32.2861544 32.2861544 0 0 1-21.56160146-8.02466543l-1.57493409-1.27494668a431.94450323 431.94450323 0 0 0-251.05203984-79.27169766c-230.01541612 0-417.17011904 175.11770391-417.17011904 390.39623438-0.07499708 16.199325-14.17440937 29.32377802-31.46118927 29.32377802-17.28677988 0-31.42369073-13.16195156-31.46118925-29.39877509 0.03749854-92.65863955 30.03624844-181.52993672 86.65888975-257.05178965 55.38519229-73.79692558 132.03199863-129.81959122 221.76575947-162.03074941l28.76130175-10.34956846-23.39902441-18.78671778c-56.84763164-45.63559863-89.47127197-111.82034092-89.47127285-181.6049329C286.52369873 169.39552344 401.26891836 62.03749678 542.30054258 62.03749678c141.06912276 0 255.81434151 107.35802666 255.8143415 239.35252763 0 69.78459199-32.62364033 135.96933516-89.50877139 181.60493291l-23.39902441 18.82421631 28.79879941 10.31206992c40.12332802 14.36190205 78.2967375 33.97358408 113.50777149 58.27257247l8.54964316 6.56222607a28.68630469 28.68630469 0 0 1 11.88700488 23.06153935c0 16.199325-14.0994123 29.3987751-31.46118925 29.43627364z m-81.2966124-328.07383066c0-99.52085391-86.54639414-180.47998037-192.89196299-180.47998038-106.30807031 0-192.85446445 80.95912646-192.85446534 180.47998038s86.54639414 180.44248184 192.85446534 180.44248183c106.34556885 0 192.89196299-80.92162881 192.89196299-180.44248183z" p-id="33280"></path>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md9">
					<div class="layui-card">
						<div class="layui-card-body">
							<div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
								<div id="total-daily-sale-echart" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
							</div>
						</div>
					</div>
					<div class="layui-card">
						<div class="layui-card-header">畅销商品</div>
						<div class="layui-card-body">

						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-body">
							<div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
								<div id="total-daily-pay-echart" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
							</div>
						</div>
					</div>
					<div class="layui-card">
						<div class="layui-card-header">
							更 新
						</div>
						<div class="layui-card-body">
							<ul class="list">
								<li class="list-item"><span class="title">优化代码格式</span><span class="footer">2021-09-06 11:28</span></li>
								<li class="list-item"><span class="title">新增消息组件</span><span class="footer">2021-09-06 11:28</span></li>
								<li class="list-item"><span class="title">移动端兼容</span><span class="footer">2021-09-06 11:28</span></li>
								<li class="list-item"><span class="title">系统布局优化</span><span class="footer">2021-09-06 11:28</span></li>
								<li class="list-item"><span class="title">兼容多系统菜单模式</span><span class="footer">2021-09-06 11:28</span></li>
								<li class="list-item"><span class="title">兼容多标签页切换</span><span class="footer">2021-09-06 11:28</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--</div>-->
		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script>
			layui.use(['layer', 'echarts', 'element', 'count'], function() {
				var $ = layui.jquery,
					layer = layui.layer,
					element = layui.element,
					count = layui.count,
					echarts = layui.echarts;

				count.up("value1", {
					time: 4000,
					num: 440.34,
					bit: 2,
					regulator: 50
				})

				count.up("value2", {
					time: 4000,
					num: 236.30,
					bit: 2,
					regulator: 50
				})

				count.up("value3", {
					time: 4000,
					num: 634.43,
					bit: 2,
					regulator: 50
				})

				count.up("value4", {
					time: 4000,
					bit: 2,
					num: 373.23,
					regulator: 50
				})

				@* 日销售合计柱状图 *@
				var totaldailysaleechart = echarts.init(document.getElementById('total-daily-sale-echart'));
				option = {
					tooltip: {
						trigger: 'axis',
						axisPointer: { 
							type: 'shadow' ,
							textStyle: {
								color: '#fff',
								fontSize: '26'
							},
						}
					},
					legend: {
						top:'5%',
						right:'10%',
						data: ['销售合计'],
						textStyle:{
							fontSize:12,
							color:'#808080'
						},
						icon:'rect'
					},
					grid: {
						top:60,
						left:50,
						bottom:60,
						right:50
					},
					xAxis: [{
						type: 'category',
						axisTick:{
							show:false
						},
						axisLine:{
							show:false
						},
						axisLabel:{
							color:'#4D4D4D',
							fontSize:14,
							margin:21,
							fontWeight:'bold'
						},
						data: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
					
					}],
					yAxis: [{
						name:'金额：元',
						nameTextStyle:{
							color:'#808080',
							fontSize:12,
							padding:[0, 0, 0, -5]
						},
						max: function(value) {
							if(value.max<5){
								return 5
							}else{
								return value.max
							}
						},
						type: 'value',
						axisLine:{
							show:false
						},
						axisLabel:{
							color:'#808080',
							fontSize:12,
							margin:5
						},
						splitLine:{
							show:false
						},
						axisTick:{
							show:false
						}
					}],
					series: [
						{
							name: '销售合计',
							type: 'bar',
							label:{
								show:true,
								position:'top',
								fontSize:14,
								color:'#3DC3F0',
								fontWeight:'bold'
							},
							barMaxWidth:60,
							itemStyle:{
								color: {
									type: 'linear',
									x: 0,
									y: 0,
									x2: 0,
									y2: 1,
									colorStops: [{
										offset: 0, color: '#3DC3F0' // 0% 处的颜色
									}, {
										offset: 1, color: '#CCF2FF' // 100% 处的颜色
									}]
								}
							},
							data: [60, 110, 280, 100, 55, 110, 280, 100, 55, 110, 280, 100, 55, 110, 280, 100, 55, 110, 280, 100, 55, 110, 280, 100]
						}
					]
				};

				totaldailysaleechart.setOption(option);

				window.onresize = function() {
					totaldailysaleechart.resize();
				}
				@* 日销售合计柱状图 *@

				@* 日支付合计柱状图 *@
				var totaldailypayechart = echarts.init(document.getElementById('total-daily-pay-echart'));
				option = {
					tooltip: {
						trigger: 'axis',
						axisPointer: { 
							type: 'shadow' ,
							textStyle: {
								color: '#fff',
								fontSize: '26'
							},
						}
					},
					legend: {
						top:'5%',
						right:'10%',
						data: ['支付方式'],
						textStyle:{
							fontSize:12,
							color:'#808080'
						},
						icon:'rect'
					},
					grid: {
						top:60,
						left:50,
						bottom:60,
						right:0
					},
					xAxis: [{
						type: 'category',
						axisTick:{
							show:false
						},
						axisLine:{
							show:false
						},
						axisLabel:{
							color:'#4D4D4D',
							fontSize:14,
							margin:21,
							fontWeight:'bold'
						},
						data: ['现金', '支付宝', '微信', '会员储值'],
					
					}],
					yAxis: [{
						name:'金额：元',
						nameTextStyle:{
							color:'#808080',
							fontSize:12,
							padding:[0, 0, 0, -5]
						},
						max: function(value) {
							if(value.max<5){
								return 5
							}else{
								return value.max
							}
						},
						type: 'value',
						axisLine:{
							show:false
						},
						axisLabel:{
							color:'#808080',
							fontSize:12,
							margin:5
						},
						splitLine:{
							show:false
						},
						axisTick:{
							show:false
						}
					}],
					series: [
						{
							name: '支付方式',
							type: 'bar',
							label:{
								show:true,
								position:'top',
								fontSize:14,
								color:'#3DC3F0',
								fontWeight:'bold'
							},
							barMaxWidth:60,
							itemStyle:{
								color: {
									type: 'linear',
									x: 0,
									y: 0,
									x2: 0,
									y2: 1,
									colorStops: [{
										offset: 0, color: '#3DC3F0' // 0% 处的颜色
									}, {
										offset: 1, color: '#CCF2FF' // 100% 处的颜色
									}]
								}
							},
							data: [989, 0, 1024, 888]
						}
					]
				};

				totaldailypayechart.setOption(option);

				window.onresize = function() {
					totaldailypayechart.resize();
				}
				@* 日销售合计柱状图 *@

			});
		</script>
	</body>
</html>
