<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>供应商管理</title>
    <link rel="stylesheet" href="~/component/pear/css/pear.css" />
</head>
<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="code" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="supplier-query">
                            <i class="layui-icon layui-icon-search"></i>
                            查询
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="supplier-table" lay-filter="supplier-table"></table>
        </div>
    </div>

    <script type="text/html" id="supplier-toolbar">
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增
        </button>
        <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    </script>

    <script type="text/html" id="supplier-bar">
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
    </script>

    <script type="text/html" id="supplier-createTime">
        {{layui.util.toDateString(d.createdTime, 'yyyy-MM-dd')}}
    </script>

    <script src="~/component/layui/layui.js"></script>
    <script src="~/component/pear/pear.js"></script>
    <script>
            layui.use(['table', 'form', 'jquery', 'common'], function () {
                let table = layui.table;
                let form = layui.form;
                let $ = layui.jquery;
                let common = layui.common;

                let cols = [
                    [{
                        type: 'checkbox'
                    },
                    {
                        title: 'ID',
                        field: 'id',
                        align: 'center',
                        width: 100
                    },
                    {
                        title: '编码',
                        field: 'code',
                        align: 'center',
                    },
                    {
                        title: '名称',
                        field: 'name',
                        align: 'center'
                    },
                    {
                        title: '联系人',
                        field: 'contacts',
                        align: 'center'
                    },
                    {
                        title: '手机号',
                        field: 'phone',
                        align: 'center'
                    },
                    {
                        title: '地址',
                        field: 'address',
                        align: 'center'
                    },
                    {
                        title: '状态',
                        field: 'stateDes',
                        align: 'center'
                    },
                    {
                        title: '创建日期',
                        field: 'createdTime',
                        align: 'center',
                        templet: '#supplier-createTime'
                    },
                    {
                        title: '操作',
                        toolbar: '#supplier-bar',
                        align: 'center',
                        width: 130
                    }
                    ]
                ]

                table.render({
                    elem: '#supplier-table',
                    url: 'GetPageByShopId',
                    page: true,//开启分页
                    cols: cols,
                    skin: 'line',
                    toolbar: '#supplier-toolbar',
                    defaultToolbar: [{
                        title: '刷新',
                        layEvent: 'refresh',
                        icon: 'layui-icon-refresh',
                    }, 'filter', 'print', 'exports']
                });

                table.on('tool(supplier-table)', function (obj) {
                    if (obj.event === 'remove') {
                        window.remove(obj);
                    } else if (obj.event === 'edit') {
                        window.edit(obj);
                    }
                });

                table.on('toolbar(supplier-table)', function (obj) {
                    if (obj.event === 'add') {
                        window.add();
                    } else if (obj.event === 'refresh') {
                        window.refresh();
                    } else if (obj.event === 'batchRemove') {
                        window.batchRemove(obj);
                    }
                });

                form.on('submit(supplier-query)', function (data) {
                    table.reload('supplier-table', {
                        url: 'GetPageByShopIdWhereQuery',
                        page: {
                            curr:1,//重新从第一页开始
                        },
                        where: data.field
                    })
                    return false;
                });


                window.add = function () {
                    layer.open({
                        type: 2,
                        title: '新增',
                        shade: 0.1,
                        area: [common.isModile() ? '100%' : '500px', common.isModile() ? '100%' : '500px'],
                        content: '/supplier/add',
                    });
                }

                window.edit = function (obj) {
                    layer.open({
                        type: 2,
                        title: '修改',
                        shade: 0.1,
                        area: [common.isModile() ? '100%' : '500px', common.isModile() ? '100%' : '400px'],
                        content: '/supplier/update?id=' + obj.data['id'],
                    });
                }

                window.remove = function (obj) {
                    layer.confirm('确定要删除该供应商', {
                        icon: 3,
                        title: '提示'
                    }, function (index) {
                        layer.close(index);
                        let loading = layer.load();
                        $.ajax({
                            url: "/supplier/delete/" + obj.data['id'],
                            dataType: 'json',
                            type: 'delete',
                            success: function (result) {
                                layer.close(loading);
                                if (result.success) {
                                    layer.msg(result.msg, {
                                        icon: 1,
                                        time: 1000
                                    }, function () {
                                        //obj.del();
                                        table.reload('supplier-table');
                                    });
                                } else {
                                    parent.layer.open({
                                        type: 2,
                                        title: '',
                                        shade: 0.1,
                                        area: ['900px', '600px'],
                                        content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                                    });
                                }
                            }
                        })
                    });
                }

                window.batchRemove = function (obj) {

                    var checkIds = common.checkField(obj, 'id');

                    if (checkIds === "") {
                        layer.msg("未选中数据", {
                            icon: 3,
                            time: 1000
                        });
                        return false;
                    }

                    layer.confirm('确定要删除这些供应商', {
                        icon: 3,
                        title: '提示'
                    }, function (index) {
                        layer.close(index);
                        let loading = layer.load();
                        $.ajax({
                            url: "/supplier/batchDelete?ids=" + checkIds,
                            dataType: 'json',
                            type: 'delete',
                            success: function (result) {
                                layer.close(loading);
                                if (result.success) {
                                    layer.msg(result.msg, {
                                        icon: 1,
                                        time: 1000
                                    }, function () {
                                            table.reload('supplier-table');
                                    });
                                } else {
                                    parent.layer.open({
                                        type: 2,
                                        title: '',
                                        shade: 0.1,
                                        area: ['900px', '600px'],
                                        content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                                    });
                                }
                            }
                        })
                    });
                }

                window.refresh = function (param) {
                    table.reload('supplier-table',{
                        url: 'GetPageByShopId'
                    });
                }
            })
    </script>
</body>
</html>
