<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>单位选择</title>
    <link rel="stylesheet" href="~/component/pear/css/pear.css" />
</head>
<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">单位编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="code" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">单位名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="unit-query">
                            <i class="layui-icon layui-icon-search"></i>
                            查询
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="unit-table" lay-filter="unit-table"></table>
        </div>
    </div>

    <script type="text/html" id="unit-bar">
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="select"><i class="layui-icon layui-icon-ok"></i>选择</button>
    </script>

    <script src="~/component/layui/layui.js"></script>
    <script src="~/component/pear/pear.js"></script>
    <script>
            layui.use(['table', 'form', 'jquery', 'common'], function () {
                let table = layui.table;
                let form = layui.form;
                let $ = layui.jquery;
                let common = layui.common;

                let cols = [
                    [
                    {
                        title: 'ID',
                        field: 'id',
                        align: 'center',
                        width: 100,
                        hide: true
                    },
                    {
                        title: '编码',
                        field: 'code',
                        align: 'center',
                    },
                    {
                        title: '名称',
                        field: 'name',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        toolbar: '#unit-bar',
                        align: 'center',
                        width: 130
                    }
                    ]
                ]

                table.render({
                    elem: '#unit-table',
                    url: 'GetPageOnShop',
                    page: true,//开启分页
                    cols: cols,
                    skin: 'line'
                });

                table.on('tool(unit-table)', function (obj) {
                    if (obj.event === 'select') {
                        parent.GetSelectUnitData(obj.data)  //调用父页面的方法
                        parent.layer.closeAll()  //关闭父页面所有弹框
                    } 
                });

                form.on('submit(unit-query)', function (data) {
                    table.reload('unit-table', {
                        url: 'GetPageOnShopWhereQueryCodeOrName',
                        page: {
                            curr:1,//重新从第一页开始
                        },
                        where: data.field
                    })
                    return false;
                });

            })
    </script>
</body>
</html>
