<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品流水</title>
    <link rel="stylesheet" href="~/component/pear/css/pear.css" />
</head>
<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">起始时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="startTime" name="startTime" placeholder="" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="endTime" name="endTime" placeholder="" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="saleflow-query">
                            <i class="layui-icon layui-icon-search"></i>
                            查询
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="saleflow-table" lay-filter="saleflow-table"></table>
        </div>
    </div>

    <script type="text/html" id="saleflow-toolbar">
    </script>

    <script type="text/html" id="saleflow-bar">
    </script>

    <script type="text/html" id="saleflow-createTime">
        {{layui.util.toDateString(d.createdTime, 'yyyy-MM-dd')}}
    </script>

    <script src="~/component/layui/layui.js"></script>
    <script src="~/component/pear/pear.js"></script>
    <script>
            layui.use(['table', 'form', 'jquery', 'laydate'], function () {
                let table = layui.table;
                let form = layui.form;
                let $ = layui.jquery;
                let laydate = layui.laydate;

                let cols = [
                    [
                    {
                        title: '操作员',
                        field: 'operatorName',
                        align: 'center',             
                    },
                    {
                        title: '单号',
                        field: 'billNo',
                        align: 'center',
                    },
                    {
                        title: '销售时间',
                        field: 'createdTime',
                        align: 'center',
                        templet: '#saleflow-createTime'
                    },
                    {
                        title: '销售方式',
                        field: 'SaleWayDes',
                        align: 'center'
                    },
                    {
                        title: '货号',
                        field: 'code',
                        align: 'center'
                    },
                    {
                        title: '品名',
                        field: 'name',
                        align: 'center'
                    },
                    {
                        title: '类别',
                        field: 'categorieName',
                        align: 'center'
                    },
                    {
                        title: '单位',
                        field: 'unitName',
                        align: 'center'
                    },
                    {
                        title: '计价方式',
                        field: 'priceTypeDes',
                        align: 'center'
                    },
                    {
                        title: '原价',
                        field: 'price',
                        align: 'center'
                    },
                    {
                        title: '销售售价',
                        field: 'salePrice',
                        align: 'center'
                    },
                    {
                        title: '数量',
                        field: 'qty',
                        align: 'center'
                    },
                    {
                        title: '销售金额',
                        field: 'saleMoney',
                        align: 'center'
                    }
                    ]
                ]

                laydate.render({
                    elem: '#startTime',
                    type: 'datetime'
                });
                laydate.render({
                    elem: '#endTime',
                    type: 'datetime'
                });

                table.render({
                    elem: '#saleflow-table',
                    url: 'GetSaleFlowBillInfoByShopId',
                    page: true,//开启分页
                    cols: cols,
                    skin: 'line',
                    toolbar: '#saleflow-toolbar',
                    defaultToolbar: [{
                        title: '刷新',
                        layEvent: 'refresh',
                        icon: 'layui-icon-refresh',
                    }, 'filter', 'print', 'exports']
                });

                form.on('submit(saleflow-query)', function (data) {
                    table.reload('saleflow-table', {
                        url: 'GetSaleFlowBillInfoByShopIdWhereQuery',
                        page: {
                            curr:1,//重新从第一页开始
                        },
                        where: data.field
                    })
                    return false;
                });

                window.refresh = function (param) {
                    table.reload('saleflow-table',{
                        url: 'GetSaleFlowBillInfoByShopId'
                    });
                }
            })
    </script>
</body>
</html>
