@model PaymentDto

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/component/pear/css/pear.css" />
</head>
<body>
    <form class="layui-form" asp-controller="Payment" asp-action="Update" data-ajax="true" data-ajax-method="post" data-ajax-success="onSuccess" 
    style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" id="Enable" name="Enable" value="@Model.Enable" />
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">编码</label>
            <div class="layui-input-block">
                <input type="text" name="Code" value="@Model.Code" lay-verify="required|codeCheck" autocomplete="off" placeholder="请输入编码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">名称</label>
            <div class="layui-input-block">
                <input type="text" name="Name" value="@Model.Name" lay-verify="required|nameCheck" autocomplete="off" placeholder="请输入名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">状态</label>
            <div class="layui-input-block">
                <select id="EnableState" lay-filter="SelectEnableState" lay-verify="required">
                    <option value="">请选择一个状态</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <button id="submit" type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="" style="margin-left: 333px;">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </form>

    <script src="~/component/layui/layui.js"></script>
    <script src="~/component/pear/pear.js"></script>
    <script src="~/js/verify.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    <script>
        layui.use(['form','jquery'],function(){
            let form = layui.form;
            let $ = layui.jquery;

            form.verify({
                nameCheck: function (value) {
                    if (!StrLenRangeVerify(value, 2, 6))
                        return '请输入正确的单位名称！2到6位！'
                },
                codeCheck: function (value) {
                    if (!A_Z_StrLenRangeVerify(value, 3))
                        return '请输入长度为3位数的大写英文编码！'
                },
            });

            BindEnableState();

            form.on('select(SelectEnableState)', function(data){
                $('#Enable').val(data.value);
	        });
        });

        var onSuccess = function(result){
            if(result.success)
            {
                layer.msg(result.msg,{icon:1,time:1000},function(){
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                    parent.layui.table.reload("payment-table",{
                        url: 'GetPageOnShop'
                    });
                });
            }
            else
            {
                let index = layer.open({
                    type: 2,
                    title: '',
                    shade: 0.1,
                    area: ['1280px', '760px'],
                    content: '/Error/Error?statusCode=' + result.status + '&errorMsg=' + result.msg,
                });
                layer.full(index);
            }
        };

        function BindEnableState() {
            $.get('GetEnableStatus', function (result) {
                layui.use('form', function () {
                    var form = layui.form;
                    if (result.success) {
                        var str = ''; //声明字符串
                        var currentState = $('#Enable').val();
                        //var data = $.parseJSON(result.data);//转成Json对象
                        $("#EnableState option:gt(0)").remove();//重新加载前，移除第一个以外的option
                        $.each(result.data, function (i, obj) {
                            str += '<option value="' + obj.opValue + '">' + obj.opName + '</option>';
                        });//遍历循环遍历
                        $(str).appendTo("#EnableState");//绑定
                        $('#EnableState').find("option[value=" + currentState + "]").attr("selected", true); //默认选择
                        form.render("select");//注意：最后必须重新渲染下拉框，否则没有任何效果。
                    }
                });
            });
        };

    </script>

</body>
</html>